# {{ansible_managed}}

[Unit]
Description=Prometheus node exporter service
After=network.target
Wants=network.target

[Service]
ExecStart={{ prometheus_install_dir }}/{{ prometheus_node_exporter_archive }}/node_exporter {% for key, value in prometheus_node_exporter_service_config.iteritems() if value is not none %}-{{ key }}={{ value }} {% endfor %}

Restart=always
RestartSec=20
TimeoutSec=300
User=root
Group=root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target