# {{ansible_managed}}

[Unit]
Description=Prometheus node exporter service
After=network.target
Wants=network.target

[Service]
ExecStart={{ prometheus_install_dir }}/{{ prometheus_node_exporter_archive }}/node_exporter {% for config in prometheus_node_exporter_service_config if config[1] is not none %}--{{ config[0] }}={{ config[1] }} {% endfor %} {% for collector in prometheus_collector_____enabled_collectors %}--{{ collector }} {% endfor %}

Restart=always
RestartSec=20
TimeoutSec=300
User={{prometheus_owner}}
Group={{prometheus_group}}
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target