{{
{
'global': {
  'scrape_interval': prometheus_config_global_scrape_interval,
  'evaluation_interval': prometheus_config_global_evaluation_interval,
  'scrape_timeout': prometheus_config_global_scrape_timeout,
  'external_labels': prometheus_config_global_external_labels }
} | to_nice_yaml
}}

{% if prometheus_config_rule_files is not none %}
{{ {'rule_files': prometheus_config_rule_files} | to_nice_yaml }}
{% endif %}

{% if prometheus_config_scrape_configs is not none and prometheus_config_scrape_configs | length > 0 %}
{{ {'scrape_configs': prometheus_config_scrape_configs} | to_nice_yaml }}
{% endif %}

{% if prometheus_config_alerting is not none and prometheus_config_alerting | length > 0 %}
{{ {'alerting': prometheus_config_alerting} | to_nice_yaml }}
{% endif %}

{% if prometheus_config_remote_write is not none and prometheus_config_remote_write | length > 0 %}
{{ {'remote_write': prometheus_config_remote_write} | to_nice_yaml }}
{% endif %}

{% if prometheus_config_remote_read is not none and prometheus_config_remote_read | length > 0 %}
{{ {'remote_read': prometheus_config_remote_read} | to_nice_yaml }}
{% endif %}
