# {{ansible_managed}}

[Unit]
Description=Prometheus snmp exporter service
After=network.target
Wants=network.target

[Service]
ExecStart={{ prometheus_install_dir }}/{{ prometheus_snmp_exporter_archive }}/snmp_exporter {% for config in prometheus_snmp_exporter_service_config if config[1] is not none %}--{{ config[0] }}={{ config[1] }} {% endfor %} {% for enabled_bool in prometheus_snmp_exporter____enabled_flags %}--{{ enabled_bool }} {% endfor %}

Restart=always
RestartSec=20
TimeoutSec=300
User={{prometheus_owner}}
Group={{prometheus_group}}
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
